<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Todoapp_Java</title>
    </head>
    <body>
        <h1>Todoapp_Java</h1>

        <h2>ToDoの更新</h2>

        <form th:action="@{/todos/{id}(id=*{id})}" th:method="put" th:object="${task}">
            <div>
                <label for="title">ToDo名</label>
                <input th:field="*{title}" type="text">
                <div style="color: red" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></div>
            </div>
            <div>
                <label for="status">状態</label>
                <select id="status" name="status">
                    <option th:each="status : ${statusList}" th:selected="${status == task.status}"
                            th:text="${status}" th:value="${status}"></option>
                </select>
            </div>
            <div>
                <label for="priority">優先度</label>
                <select id="priority" name="priority">
                    <option th:each="priority : ${priorityList}" th:selected="${priority == task.priority}"
                            th:text="${priority}" th:value="${priority}"></option>
                </select>
            </div>
            <label th:for="dueDate">期限日</label>
            <input th:field="*{dueDate}" type="date">
            <input th:field="*{id}" type="hidden">
            <input th:field="*{createdAt}" type="hidden">
            <input th:field="*{updatedAt}" type="hidden">
            <div>
                <button type="submit">更新</button>
            </div>
        </form>

        <form th:action="@{/todos}" th:method="get">
            <button type="submit">戻る</button>
        </form>

        <br>

        <h2>※デバッグ用 ToDo</h2>

        <div th:object="${task}"
             th:text="|*{id}, *{title}, *{status}, *{priority}, *{dueDate}, *{createdAt}, *{updatedAt}|">
        </div>
        <div th:text="|task: ${task.toString()}|"></div>
        <div th:text="|queryParameterMap: ${queryParameterMap}|"></div>
        <div th:text="|filterList: ${filterList}|"></div>
        <div th:text="|sortList: ${sortList}|"></div>
        <div th:text="|priorityList: ${priorityList}|"></div>
        <div th:text="|statusList: ${statusList}|"></div>
    </body>
</html>
