<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Todoapp_Java</title>
    </head>
    <body>
        <h1>Todoapp_Java</h1>

        <h2>ToDoの更新</h2>

        <form th:object="${task}" th:action="@{/todos/{id}(id=*{id})}" th:method="put">
            <div>
                <label for="title">ToDo名</label>
                <input type="text" th:field="*{title}">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></div>
            </div>
            <div>
                <label for="status">状態</label>
                <select id="status" name="status">
                    <option th:each="status : ${statusList}" th:value="${status}"
                            th:selected="${status == task.status}" th:text="${status}"></option>
                </select>
            </div>
            <div>
                <label for="priority">優先度</label>
                <select id="priority" name="priority">
                    <option th:each="priority : ${priorityList}" th:value="${priority}"
                            th:selected="${priority == task.priority}" th:text="${priority}"></option>
                </select>
            </div>
            <input type="date" th:field="*{dueDate}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{createdAt}">
            <input type="hidden" th:field="*{updatedAt}">
            <button type="submit">更新</button>
        </form>

        <form th:action="@{/todos}" th:method="get">
            <button type="submit">戻る</button>
        </form>

        <br>

        <h2>※デバッグ用 ToDo</h2>

        <div th:object="${task}"
             th:text="|*{id}, *{title}, *{status}, *{priority}, *{dueDate}, *{createdAt}, *{updatedAt}|">
        </div>
    </body>
</html>
