<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Todoapp_Java</title>
    </head>
    <body>
        <h1>Todoapp_Java</h1>
        <div>
            <h2>
                ToDoの追加
            </h2>
            <form action="todos" method="POST">
                <label for="title">ToDo</label>
                <input type="text" id="title" name="title">
                <button type="submit">登録</button>
            </form>
        </div>
        <div>
            <h2>Todo一覧</h2>
            <div th:each="task : ${allTasks}">
                <div th:text="|${task.getId}, ${task.getTitle}, ${task.getStatus}, ${task.getCreatedAt}, ${task.getUpdatedAt}|"></div>
            </div>
        </div>
        <div>
            <h2>※デバッグ用 ToDo一覧</h2>
            <div th:each="task : ${allTasks}">
                <div th:text="|${task.getId}, ${task.getTitle}, ${task.getStatus}, ${task.getCreatedAt}, ${task.getUpdatedAt}|"></div>
            </div>
        </div>
    </body>
</html>
