<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Todoapp_Java</title>
        <link th:href="@{index.css}" rel="stylesheet">
    </head>
    <body>
        <h1>Todoapp_Java</h1>

        <h2> ToDoの追加 </h2>

        <form th:object="${task}" th:action="@{/todos}" th:method="post">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></div>
            <label for="title">ToDo名</label>
            <input type="text" th:field="*{title}">
            <button type="submit">登録</button>
        </form>

        <h2>ToDo一覧</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>
                        ToDo
                    </th>
                    <th>
                        ステータス
                    </th>
                    <th>
                        作成日
                    </th>
                    <th>
                        更新日
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${allTasks}" th:object="${task}">
                    <td th:text="*{title}"></td>
                    <td th:text="*{status}"></td>
                    <td th:text="${#temporals.format(task.getCreatedAt, 'yyyy/MM/dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(task.getUpdatedAt, 'yyyy/MM/dd HH:mm')}"></td>
                    <td>
                        <form th:action="@{/todos/{id}/edit(id=*{id})}" th:method="get">
                            <button type="submit">更新</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/todos/{id}(id=*{id})}" th:method="delete">
                            <button type="submit">削除</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>※デバッグ用 ToDo一覧</h2>

        <div th:each="task : ${allTasks}" th:object="${task}">
            <div th:text="|*{id}, *{title}, *{status}, *{createdAt}, *{updatedAt}|"></div>
        </div>
    </body>
</html>
